.page-header {
    width: 1200px;
    height: 320px;
    background-color: $header;

    &__top {        
        width: 1070px;
        height: 42px;
        padding-left: 130px;
        margin-bottom: 0px;
        background-color: #32425c;
        &--logo {
            width: 220px;
            height: 42px;
            float: left;
            background-color: #ee3643;
            border-bottom: 5px solid #b52933;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.9em;
            font-family: "cuprum";
            font-size: 24px;
            color: 	#f1f2f4;
            &:hover {
                background-color: #ca2c37;
            }
            &:active {
                background-color: #ba2732;
            }     
        }
        &--search {
            position: relative;
            top: 13px;
            left: 10px;
            float: left;	
            width: 17px;
            height: 17px;           
            z-index: 1;

            & input[placeholder] {
                position: relative;
                top: -17px;
                width: 270px;
                height: 42px;
                padding-left: 35px;
                padding-right: 20px;	
                background-color: #35425c;
                font-size: 23px;
                font-family: "cuprum";		
                border: none;
                outline: none;
                background-image: url("../img/icon-search.png");
                background-position: 10px 13px;
                background-repeat: no-repeat;
            }
            & input[placeholder]:hover {
                background-color: #263041;
            }
            & input::-webkit-input-placeholder {color:#f0f1f2;}
            & input:focus::-webkit-input-placeholder {color: gray}
            & input::-moz-placeholder          {color:#f0f1f2;}
            & input:-moz-placeholder           {color:#f0f1f2;}
            & input:-ms-input-placeholder      {color:#f0f1f2;}      
            & input[placeholder]:hover {
                background-image: url("../img/icon-search white.png");
                background-position: 10px 13px;
                background-repeat: no-repeat;
            }
            & input[placeholder]:focus {
                background-color: #ffffff;	
                background-image: url("../img/icon-search red.png");
                background-position: 10px 13px;
                background-repeat: no-repeat;
                z-index: 2;	
            }    
        } 

        &--bookmarks {
            width: 150px;
            height: 42px;
            font-size: 23px;
            font-family: "cuprum";
            text-align: center;
            float: left;

            &:hover {
                background-color: #212a3a;
            }
            &:active {
                background-color: #161d29;
            }

            &.bkm {
                float: left;
                position: relative;
                top: 12px;
                left: 10px;
                width: 14px;
                height: 16px;
                background-image: url("../img/icon-bookmark.png");	
                background-repeat: no-repeat;
                
                &:hover {
                    background-image: url("../img/icon-bookmark white.png");	
                    background-repeat: no-repeat;
                }
                &:active {
                    background-color: #161d29;
                    background-image: url("../img/icon-bookmark.png");	
                    background-repeat: no-repeat;
                }
            }            
        }
        &--basket {
            width: 150px;
            height: 42px;
            font-size: 23px;
            font-family: "cuprum";
            text-align: center;
            float: left;

            &:hover {
                background-color: #212a3a;
            }
            &:active {
                background-color: #161d29;
            }

            & .bsk {
                float: left;
                position: relative;
                top: 12px;
                left: 10px;
                width: 17px;
                height: 16px;
                background-image: url("../img/icon-basket.png");	
                background-repeat: no-repeat;

                &:hover {
                    background-color: #212a3a;
                    background-image: url("../img/icon-basket white.png");	
                    background-repeat: no-repeat;
                }
                &:active {
                    background-color: #161d29;		
                    background-image: url("../img/icon-basket.png");	
                    background-repeat: no-repeat;
                }
            }
        }        
    }
}    