@font-face {
	font-family: "cuprum";
	src: url("../styles/fonts/cuprum.ttf");
}
@font-face {
	font-family: "cuprum-italic";
	src: url("../styles/fonts/cuprum-italic.ttf");
}
@font-face {
	font-family: "cuprum-bold";
	src: url("../styles/fonts/cuprum-bold.ttf");
}
@font-face {
	font-family: "pt-sans-bold";
	src: url("../styles/fonts/pt-sans-bold.ttf");
}
@font-face {
	font-family: "pt-sans";
	src: url("../styles/fonts/pt-sans.ttf");
}